# Terraform
/.terraform/
/*.tfstate
/*.tfstate.*
/.terraform.lock.hcl
*.tfvars

# Python / env
__pycache__/
.env
venv/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Terraform local files

.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.tfvars


