trigger:
  branches:
    include:
      - main
      - dev

pool:
  name: 'Default'
  demands:
  - agent.name -equals local-agent

variables:
  TF_WORKING_DIR: 'terraform'

stages:
  - stage: Deploy_DEV
    displayName: "Deploy Databricks Infrastructure - DEV"
    condition: eq(variables['Build.SourceBranchName'], 'dev')
    jobs:
      - job: Terraform_DEV
        displayName: "Terraform Apply - DEV"
        steps:
          - checkout: self
          - task: PowerShell@2
            displayName: 'Install Terraform (Windows)'
            inputs:
              targetType: 'inline'
              script: |
                Invoke-WebRequest -Uri "https://releases.hashicorp.com/terraform/1.5.7/terraform_1.5.7_windows_amd64.zip" -OutFile "terraform.zip"
                Expand-Archive -Path "terraform.zip" -DestinationPath "C:\terraform" -Force
                [Environment]::SetEnvironmentVariable("PATH", $env:PATH + ";C:\terraform", [EnvironmentVariableTarget]::Machine)

          - task: Bash@3
            displayName: "Terraform Init"
            inputs:
              workingDirectory: '$(TF_WORKING_DIR)'
              targetType: 'inline'
              script: |
                terraform init

          - task: Bash@3
            displayName: "Terraform Plan"
            inputs:
              workingDirectory: '$(TF_WORKING_DIR)'
              targetType: 'inline'
              script: |
                terraform plan -out=tfplan

          - task: Bash@3
            displayName: "Terraform Apply"
            inputs:
              workingDirectory: '$(TF_WORKING_DIR)'
              targetType: 'inline'
              script: |
                terraform apply -auto-approve tfplan

  - stage: Deploy_PROD
    displayName: "Deploy Databricks Infrastructure - PROD"
    condition: eq(variables['Build.SourceBranchName'], 'main')
    jobs:
      - job: Terraform_PROD
        displayName: "Terraform Apply - PROD"
        steps:
          - checkout: self

          - task: PowerShell@2
            displayName: 'Install Terraform (Windows)'
            inputs:
              targetType: 'inline'
              script: |
                Invoke-WebRequest -Uri "https://releases.hashicorp.com/terraform/1.5.7/terraform_1.5.7_windows_amd64.zip" -OutFile "terraform.zip"
                Expand-Archive -Path "terraform.zip" -DestinationPath "C:\terraform" -Force
                [Environment]::SetEnvironmentVariable("PATH", $env:PATH + ";C:\terraform", [EnvironmentVariableTarget]::Machine)
          - task: Bash@3
            displayName: "Terraform Init"
            inputs:
              workingDirectory: '$(TF_WORKING_DIR)'
              targetType: 'inline'
              script: |
                terraform init

          - task: Bash@3
            displayName: "Terraform Plan"
            inputs:
              workingDirectory: '$(TF_WORKING_DIR)'
              targetType: 'inline'
              script: |
                terraform plan -out=tfplan

          - task: Bash@3
            displayName: "Terraform Apply"
            inputs:
              workingDirectory: '$(TF_WORKING_DIR)'
              targetType: 'inline'
              script: |
                terraform apply -auto-approve tfplan
